In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

HO:Digital marketing has no effect,
H1:Digital marketing has effect

In [15]:
pd.read_csv("Sales_add.csv")

       Month      Region      Manager    bfdm    afdm
0    Month-1  Region - A  Manager - A  132921  270390
1    Month-2  Region - A  Manager - C  149559  223334
2    Month-3  Region - B  Manager - A  146278  244243
3    Month-4  Region - B  Manager - B  152167  231808
4    Month-5  Region - C  Manager - B  159525  258402
5    Month-6  Region - A  Manager - B  137163  256948
6    Month-7  Region - C  Manager - C  130625  222106
7    Month-8  Region - A  Manager - A  131140  230637
8    Month-9  Region - B  Manager - C  171259  226261
9   Month-10  Region - C  Manager - B  141956  193735
10  Month-11  Region - B  Manager - C  159339  203175
11  Month-12  Region - A  Manager - A  178939  276279
12  Month-13  Region - B  Manager - A  145062  205180
13  Month-14  Region - A  Manager - A  151514  253131
14  Month-15  Region - C  Manager - A  147463  229336
15  Month-16  Region - A  Manager - B  177195  187305
16  Month-17  Region - A  Manager - C  140862  234908
17  Month-18  Region - C  Manager - B  167996  191517
18  Month-19  Region - B  Manager - A  132135  227040
19  Month-20  Region - A  Manager - B  152493  212579
20  Month-21  Region - B  Manager - A  147425  263388
21  Month-22  Region - A  Manager - C  130263  243020

In [16]:
data=pd.read_csv("Sales_add.csv")

In [22]:
A=data.bfdm

In [18]:
B=data.afdm

In [19]:
from scipy.stats import ttest_1samp

In [20]:
from scipy.stats import ttest_ind

In [23]:
t_test,p_val=ttest_ind(A,B)

In [24]:
p_val

2.614368006904645e-16

In [26]:
if p_val<0.05:
  print("null hypothesis rejected")
else:
  print("null hypothesis rejected")

null hypothesis rejected

In [27]:
from scipy.stats import chi2_contingency

In [28]:
tab_data=[A,B]

In [29]:
chi2_contingency(tab_data)

(50418.98816785626,
 0.0,
 21,
 array([[158243.59208   , 146308.74878564, 153225.29220049,
         150656.89571799, 163978.34352948, 154633.8689454 ,
         138397.96206394, 141947.26157215, 155971.42831125,
         131712.12704074, 142236.43178413, 178609.8854221 ,
         137421.37501155, 158767.00193451, 147841.311673  ,
         143015.66114775, 147437.57198762, 141058.95579207,
         140926.337703  , 143240.09176003, 161187.08587953,
         146461.76965765],
        [245067.40792   , 226584.25121436, 237295.70779951,
         233318.10428201, 253948.65647052, 239477.1310546 ,
         214333.03793606, 219829.73842785, 241548.57168875,
         203978.87295926, 220277.56821587, 276608.1145779 ,
         212820.62498845, 245877.99806549, 228957.688327  ,
         221484.33885225, 228332.42801238, 218454.04420793,
         218248.662297  , 221831.90823997, 249625.91412047,
         226821.23034235]]))